* {
    width: 970px;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    outline: 2px solid pink;
}

#main-content h3, #main-content p, #main-content ol, #main-content ul {
    width: 100%;
}



h1 {
    display: inline;
    font-size: 2.2em;
}

span {
    color: #23659E;
}

#main-content, #main-content ul li, #main-content ol li, #main-content div {
    padding-top: 5px;
    width: 75%;
    margin-left: 0%;
}

#main-content {
   
    display: inline-block;
    background: linear-gradient(to bottom, #FEFEFE, #fff)
}


input.orangebtn, input.bluebtn {
    padding: 10px;
    font-size: 1.1em;
    color: white;
    border-radius: 10px;
}

img.adbackground {
    position: relative;
    z-index: 0;
    width: 100%;
}

img.ninja {
    display: block;
    width: 100%;
    background: url("images/ad_background.png");
}

p.adoverlay {
    z-index: 2;
    font-size: 1.3em;
    font-weight: bold;
    padding: 2px;
    color: white;
    text-align: center;
    position: relative; 
    top: 100px;
    border: 3px solid red;
}

input.cyanbtn {
    background: linear-gradient(to bottom, #6ECFDF, #00C1DF);
    padding: 5px;
    color: white;
    font-size: .8em;
    border-radius: 5px;
    position: relative;
    bottom: 200px;
}

input.orangebtn {
    background: linear-gradient(to bottom, #EBAB51, #F07500);
}

input.bluebtn {
    background: linear-gradient(to bottom, #6599C5, #2D6EA5);   
}


#left-nav {
    text-align: top;
    display: inline-block;
    background: linear-gradient(to bottom, #FEFEFE, #fff);
    margin-right: 20px;
}

#left-nav, #left-nav div, #left-nav input, #left-nav p, #left-nav h4 {
    width: 200px;
    vertical-align: top;
    margin-bottom: 10px;
}

#main-content span {
    color: #079BB1;
}

p.page-topic {
    font-size: 2em;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    background: linear-gradient(to bottom, #23659E, #5082AC, #23659E)
}

#info-stripe {
    border: 5px solid blue;
    width: auto;
    display: inline-block;
    height: 100px;
    padding: 2px;
}

img.info {
    width: 10%; 
    display: inline-blocks;
    margin-right: 20px;
}

img.logo {
    width: 150px;
    height: 150px;
    margin-bottom: -40px;
}

img.diagram {
    width: 30%;
    padding-top: 2%;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

